.left-side-background{
    -fx-background-color: #01BED2;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.border {
    -fx-border-color: #01BED2;
    -fx-border-width: 1.5;
}

.right-side-border{
    -fx-border-color: #01BED2;
    -fx-border-width: 0 1.5 0 0;
}